*{
    margin: 0;
    padding: 0;
    }
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            width: 100%;
            height: 100%;
        }

        .grid-item {
            background-size: cover;
            background-position: center;
        }

        .item1 {
            background-image: url('/img/49b4453d8b5c8973b5e44d7cf8058b43.jpg');
        }

        .item2 {
            background-image: url('/img/67702a7ea819a5fc2099a96cb49f5699.jpg');
        }

        .item3 {
            background-image: url('/img/c1743f33ab5e3cc8940c4eb6bf299ec4.jpg');
        }

        .item4 {
            background-image: url('/img/fazendinha\ \(1\).jpg');
        }
    .texto-container {
        width: 80%; /* Largura do container */
        margin: 50px auto; /* muda a altura do container na página */
        padding: 20px; /* Espaçamento interno do container */
        background-color: #1a1616ab; /* Cor de fundo do container */
        border: 1px solid #ccc; /* Borda do container */
        border-radius: 8px; /* Borda arredondada */
        overflow: hidden; /* Limpa o float */
    }

    .texto-container img {
            float: left; /* Flutua a imagem para a esquerda */
            margin-right: 20px; /* Espaço entre a imagem e o texto */
            border-radius: 8px;
        }

        .botao-personalizado {
            background-color: #1a1616ab; /* Verde */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 30px 200px;
            cursor: pointer;
            border-radius: 12px;
        }

        .botao-personalizado:hover {
            background-color: #1a1616ab;
        }

    